extends layout 

block content 
   h1 #{items.name}
   div.gamedesc
      p #{items.desc}
      if items.genre
         p 
            each category in items.genre
               a(href=category.url) #{category.name}, 
   p Price: $#{items.price}
   p In-stock: #{items.stock}
   div.column
      a(href=items.url + "/delete").del Delete
      a(href=items.url + "/update").del Update